body
{
    text-align:  center;
    /* display: flex; */
}

button
{
    margin-bottom: 10px;
}

div
{
    margin-top: 10px;
    font-weight: bold;
    margin: auto;
    height:100px;
    width: 300px;
    border: 2px solid black;
}