div
{
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: orange;
    display: inline-block;

    /* transform: rotate(30deg); */
    /* transform: scale(3); */
    /* transform: scale(10, 3); */
    /* transform: skew(30deg); */
    transform: rotate(30deg) translate(100px);
}
