<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/temp.css">
</head>
<body>
    <h1>This Page is Made With Ejs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Quasi eos voluptate temporibus sit perferendis, possimus saepe ex? Perferendis earum,<br> temporibus expedita officia cum, aperiam doloremque totam culpa est quae impedit.</p>
    <button>Click Here</button>
     <p> The Value of 5 * 3 = <%= 5 * 3 %> </p>    <!--   Evaluated here  -->
</body>
</html>